<!-- Services Section Five -->
<section class="services-section-five">
    <div class="shadow-layer" style="background-image: url(./assets/user/images/background/shadow-1.png)"></div>
    <div class="auto-container">
        <!-- Sec Title Three -->
        <div class="sec-title-three light centered text-warning">
            <h2 style="color: black;">Explore the Nexus Unlimited <br> Possibilities</h2>
        </div>
        <div class="row clearfix">
            
            <!-- Service Block Three -->
            <div class="service-block-three col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-layer" style="background-image: url(./assets/user/images/resource/service-1.jpg)"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-home"></span>
                    </div>
                    <h4><a routerLink="/service">Home Internet</a></h4>
                    <ul class="list-options">
                        <li>Bufferless Steaming</li>
                        <li>Real IP Included</li>
                        <li>Stable Connection With No Interruptions</li>
                    </ul>
                    <a class="explore" routerLink="/service"><span class="arrow flaticon-next-2"></span> Explore More</a>
                </div>
            </div>
            
            <!-- Service Block Three -->
            <div class="service-block-three col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-layer" style="background-image: url(./assets/user/images/resource/service-1.jpg)"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-antenna"></span>
                    </div>
                    <h4><a routerLink="/service">Corporate Internet</a></h4>
                    <ul class="list-options">
                        <li>Bufferless Steaming</li>
                        <li>Real IP Included</li>
                        <li>Stable Connection With No Interruptions</li>
                    </ul>
                    <a class="explore" routerLink="/service"><span class="arrow flaticon-next-2"></span> Explore More</a>
                </div>
            </div>
            
            <!-- Service Block Three -->
            <div class="service-block-three col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-layer" style="background-image: url(./assets/user/images/resource/service-1.jpg)"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-random-1"></span>
                    </div>
                    <h4><a routerLink="/service">Data Connectivity</a></h4>
                    <ul class="list-options">
                        <li>Bufferless Steaming</li>
                        <li>Real IP Included</li>
                        <li>Stable Connection With No Interruptions</li>
                    </ul>
                    <a class="explore" routerLink="/service"><span class="arrow flaticon-next-2"></span> Explore More</a>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End Services Section Five -->
