<div class="page-wrapper">

<app-header></app-header>

	<!-- Page Title -->
    <section class="page-title" style="background-image: url(./assets/user/images/background/7.jpg)">
        <div class="auto-container">
			<h2>About Us</h2>
			<ul class="bread-crumb clearfix">
				<li><a href="index.html">Home</a></li>
				<li>About Us</li>
			</ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Network Section / Style Two -->
	<section class="network-section style-two" style="background-image: url(./assets/user/images/background/2.jpg)">
		<div class="auto-container">
			<div class="inner-container">
				<div class="row clearfix">
					
					<!-- Image Column -->
					<div class="images-column col-lg-7 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<img src="./assets/user/images/resource/network-4.jpg" alt="" />
							</div>
							<div class="image-two wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
								<img src="./assets/user/images/resource/network-5.jpg" alt="" />
							</div>
							<div class="image-three wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
								<img src="./assets/user/images/resource/network-3.png" alt="" />
							</div>
						</div>
					</div>
					
					<!-- Content Column -->
					<div class="content-column col-lg-5 col-md-12 col-sm-12">
						<div class="inner-column">
							<!-- Sec Title -->
							<div class="sec-title">
								<div class="separator"></div>
								<h2>We Provide Best Home Network For You.</h2>
								<div class="text">Business is the activity of making one's living or making money by producing or buying and selling products</div>
							</div>
							<!-- Network List -->
							<ul class="network-list">
								<li>
									<span class="icon flaticon-tick-1"></span>
									<strong>A Reliable Connection</strong>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed magna aliqua.eius to mod incididunt ut labore
								</li>
								<li>
									<span class="icon flaticon-tick-1"></span>
									<strong>Powerful Secure Internet</strong>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed magna aliqua.eius to mod incididunt ut labore
								</li>
								<li>
									<span class="icon flaticon-tick-1"></span>
									<strong>Flex 4K & 8K streaming</strong>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed magna aliqua.eius to mod incididunt ut labore
								</li>
							</ul>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Network Section / Style Two -->

    <div class="row clearfix">
				
        <!-- Facility Block -->
        <div class="facility-block col-lg-3 col-md-6 col-sm-12">
            <div class="inner-box">
                <div class="pattern-layer" style="background-image: url(./assets/user/images/background/pattern-14.png)"></div>
                <div class="icon-box flaticon-swimming-pool"></div>
                <h5><a href="services-detail.html">Free Installation</a></h5>
                <div class="text">Lorem ipsum dolor sit amet them consec tetur elit sed do eiumod. Donec quam felis ies nec.</div>
            </div>
        </div>
        
        <!-- Facility Block -->
        <div class="facility-block col-lg-3 col-md-6 col-sm-12">
            <div class="inner-box">
                <div class="pattern-layer" style="background-image: url(./assets/user/images/background/pattern-14.png)"></div>
                <div class="icon-box flaticon-5g"></div>
                <h5><a href="services-detail.html">Ultrafast Connect</a></h5>
                <div class="text">Lorem ipsum dolor sit amet them consec tetur elit sed do eiumod. Donec quam felis ies nec.</div>
            </div>
        </div>
        
        <!-- Facility Block -->
        <div class="facility-block col-lg-3 col-md-6 col-sm-12">
            <div class="inner-box">
                <div class="pattern-layer" style="background-image: url(./assets/user/images/background/pattern-14.png)"></div>
                <div class="icon-box flaticon-8k"></div>
                <h5><a href="services-detail.html">4K and 8K Quality</a></h5>
                <div class="text">Lorem ipsum dolor sit amet them consec tetur elit sed do eiumod. Donec quam felis ies nec.</div>
            </div>
        </div>
        
        <!-- Facility Block -->
        <div class="facility-block col-lg-3 col-md-6 col-sm-12">
            <div class="inner-box">
                <div class="pattern-layer" style="background-image: url(./assets/user/images/background/pattern-14.png)"></div>
                <div class="icon-box flaticon-customer-service"></div>
                <h5><a href="contact.html">Fast Support 24/7</a></h5>
                <div class="text">Lorem ipsum dolor sit amet them consec tetur elit sed do eiumod. Donec quam felis ies nec.</div>
            </div>
        </div>

    </div>

    <!-- Team Section -->
	<section class="team-section" style="background-image: url(./assets/user/images/background/pattern-25.png)">
		<div class="auto-container">
		
			<!-- Sec Title -->
			<div class="sec-title centered light">
				<div class="separator"></div>
				<h2>Meet Our Experts</h2>
			</div>
			<!-- End Sec Title -->
			
			<div class="three-item-carousel owl-carousel owl-theme">
				
				<!-- Team Block -->
				<div class="team-block">
					<div class="inner-box">
						<div class="image">
							<img src="./assets/user/images/resource/team-1.jpg" alt="" />
							<div class="overlay-box">
								<h6>Taofiqul Hakim</h6>
								<div class="designation">Senior Architect</div>
							</div>
							<div class="overlay-box-two">
								<h6>Taofiqul Hakim</h6>
								<div class="designation">Senior Architect</div>
								<div class="text">Neque porro quisquam est qui dolorem ipsum quia he dolor sit amet, consec tetur adipisci velit adipisci velit.</div>
								<!-- Social Box -->
								<ul class="social-box">
									<li><a href="../../www.facebook.com/index.html" class="fa fa-facebook-f"></a></li>
									<li><a href="../../www.twitter.com/index.html" class="fa fa-twitter"></a></li>
									<li><a href="../../dribbble.com/index.html" class="fa fa-dribbble"></a></li>
									<li><a href="../../www.linkedin.com/index.html" class="fa fa-linkedin"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block">
					<div class="inner-box">
						<div class="image">
							<img src="./assets/user/images/resource/team-2.jpg" alt="" />
							<div class="overlay-box">
								<h6>Raymond Turner</h6>
								<div class="designation">Senior Architect</div>
							</div>
							<div class="overlay-box-two">
								<h6>Raymond Turner</h6>
								<div class="designation">Senior Architect</div>
								<div class="text">Neque porro quisquam est qui dolorem ipsum quia he dolor sit amet, consec tetur adipisci velit adipisci velit.</div>
								<!-- Social Box -->
								<ul class="social-box">
									<li><a href="../../www.facebook.com/index.html" class="fa fa-facebook-f"></a></li>
									<li><a href="../../www.twitter.com/index.html" class="fa fa-twitter"></a></li>
									<li><a href="../../dribbble.com/index.html" class="fa fa-dribbble"></a></li>
									<li><a href="../../www.linkedin.com/index.html" class="fa fa-linkedin"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block">
					<div class="inner-box">
						<div class="image">
							<img src="./assets/user/images/resource/team-3.jpg" alt="" />
							<div class="overlay-box">
								<h6>Taofiqul Hakim</h6>
								<div class="designation">Senior Architect</div>
							</div>
							<div class="overlay-box-two">
								<h6>Taofiqul Hakim</h6>
								<div class="designation">Senior Architect</div>
								<div class="text">Neque porro quisquam est qui dolorem ipsum quia he dolor sit amet, consec tetur adipisci velit adipisci velit.</div>
								<!-- Social Box -->
								<ul class="social-box">
									<li><a href="../../www.facebook.com/index.html" class="fa fa-facebook-f"></a></li>
									<li><a href="../../www.twitter.com/index.html" class="fa fa-twitter"></a></li>
									<li><a href="../../dribbble.com/index.html" class="fa fa-dribbble"></a></li>
									<li><a href="../../www.linkedin.com/index.html" class="fa fa-linkedin"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block">
					<div class="inner-box">
						<div class="image">
							<img src="./assets/user/images/resource/team-1.jpg" alt="" />
							<div class="overlay-box">
								<h6>Taofiqul Hakim</h6>
								<div class="designation">Senior Architect</div>
							</div>
							<div class="overlay-box-two">
								<h6>Taofiqul Hakim</h6>
								<div class="designation">Senior Architect</div>
								<div class="text">Neque porro quisquam est qui dolorem ipsum quia he dolor sit amet, consec tetur adipisci velit adipisci velit.</div>
								<!-- Social Box -->
								<ul class="social-box">
									<li><a href="../../www.facebook.com/index.html" class="fa fa-facebook-f"></a></li>
									<li><a href="../../www.twitter.com/index.html" class="fa fa-twitter"></a></li>
									<li><a href="../../dribbble.com/index.html" class="fa fa-dribbble"></a></li>
									<li><a href="../../www.linkedin.com/index.html" class="fa fa-linkedin"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block">
					<div class="inner-box">
						<div class="image">
							<img src="./assets/user/images/resource/team-2.jpg" alt="" />
							<div class="overlay-box">
								<h6>Raymond Turner</h6>
								<div class="designation">Senior Architect</div>
							</div>
							<div class="overlay-box-two">
								<h6>Raymond Turner</h6>
								<div class="designation">Senior Architect</div>
								<div class="text">Neque porro quisquam est qui dolorem ipsum quia he dolor sit amet, consec tetur adipisci velit adipisci velit.</div>
								<!-- Social Box -->
								<ul class="social-box">
									<li><a href="../../www.facebook.com/index.html" class="fa fa-facebook-f"></a></li>
									<li><a href="../../www.twitter.com/index.html" class="fa fa-twitter"></a></li>
									<li><a href="../../dribbble.com/index.html" class="fa fa-dribbble"></a></li>
									<li><a href="../../www.linkedin.com/index.html" class="fa fa-linkedin"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block">
					<div class="inner-box">
						<div class="image">
							<img src="./assets/user/images/resource/team-3.jpg" alt="" />
							<div class="overlay-box">
								<h6>Taofiqul Hakim</h6>
								<div class="designation">Senior Architect</div>
							</div>
							<div class="overlay-box-two">
								<h6>Taofiqul Hakim</h6>
								<div class="designation">Senior Architect</div>
								<div class="text">Neque porro quisquam est qui dolorem ipsum quia he dolor sit amet, consec tetur adipisci velit adipisci velit.</div>
								<!-- Social Box -->
								<ul class="social-box">
									<li><a href="../../www.facebook.com/index.html" class="fa fa-facebook-f"></a></li>
									<li><a href="../../www.twitter.com/index.html" class="fa fa-twitter"></a></li>
									<li><a href="../../dribbble.com/index.html" class="fa fa-dribbble"></a></li>
									<li><a href="../../www.linkedin.com/index.html" class="fa fa-linkedin"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block">
					<div class="inner-box">
						<div class="image">
							<img src="./assets/user/images/resource/team-1.jpg" alt="" />
							<div class="overlay-box">
								<h6>Taofiqul Hakim</h6>
								<div class="designation">Senior Architect</div>
							</div>
							<div class="overlay-box-two">
								<h6>Taofiqul Hakim</h6>
								<div class="designation">Senior Architect</div>
								<div class="text">Neque porro quisquam est qui dolorem ipsum quia he dolor sit amet, consec tetur adipisci velit adipisci velit.</div>
								<!-- Social Box -->
								<ul class="social-box">
									<li><a href="../../www.facebook.com/index.html" class="fa fa-facebook-f"></a></li>
									<li><a href="../../www.twitter.com/index.html" class="fa fa-twitter"></a></li>
									<li><a href="../../dribbble.com/index.html" class="fa fa-dribbble"></a></li>
									<li><a href="../../www.linkedin.com/index.html" class="fa fa-linkedin"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block">
					<div class="inner-box">
						<div class="image">
							<img src="./assets/user/images/resource/team-2.jpg" alt="" />
							<div class="overlay-box">
								<h6>Raymond Turner</h6>
								<div class="designation">Senior Architect</div>
							</div>
							<div class="overlay-box-two">
								<h6>Raymond Turner</h6>
								<div class="designation">Senior Architect</div>
								<div class="text">Neque porro quisquam est qui dolorem ipsum quia he dolor sit amet, consec tetur adipisci velit adipisci velit.</div>
								<!-- Social Box -->
								<ul class="social-box">
									<li><a href="../../www.facebook.com/index.html" class="fa fa-facebook-f"></a></li>
									<li><a href="../../www.twitter.com/index.html" class="fa fa-twitter"></a></li>
									<li><a href="../../dribbble.com/index.html" class="fa fa-dribbble"></a></li>
									<li><a href="../../www.linkedin.com/index.html" class="fa fa-linkedin"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block">
					<div class="inner-box">
						<div class="image">
							<img src="./assets/user/images/resource/team-3.jpg" alt="" />
							<div class="overlay-box">
								<h6>Taofiqul Hakim</h6>
								<div class="designation">Senior Architect</div>
							</div>
							<div class="overlay-box-two">
								<h6>Taofiqul Hakim</h6>
								<div class="designation">Senior Architect</div>
								<div class="text">Neque porro quisquam est qui dolorem ipsum quia he dolor sit amet, consec tetur adipisci velit adipisci velit.</div>
								<!-- Social Box -->
								<ul class="social-box">
									<li><a href="../../www.facebook.com/index.html" class="fa fa-facebook-f"></a></li>
									<li><a href="../../www.twitter.com/index.html" class="fa fa-twitter"></a></li>
									<li><a href="../../dribbble.com/index.html" class="fa fa-dribbble"></a></li>
									<li><a href="../../www.linkedin.com/index.html" class="fa fa-linkedin"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Team Section -->

    
	<!-- Internet Section Four -->
	<section class="internet-section-four" style="background-image: url(./assets/user/images/background/pattern-50.png)">
		<div class="shadow-layer-one" style="background-image: url(./assets/user/images/background/shadow-3.png)"></div>
		<div class="shadow-layer-two" style="background-image: url(./assets/user/images/background/shadow-4.png)"></div>
		<div class="auto-container">
			<!-- Sec Title Three -->
			<div class="sec-title-three dark centered">
				<h2>Nextbit Internet <br> Don’t Suffer The Buffer</h2>
			</div>
			<div class="row clearfix">
			
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
					
						<!-- Internet Block -->
						<div class="internet-block">
							<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="content">
									<span class="icon flaticon-play-button-1"></span>
									<h4><a href="services-detail.html">Limitless Entertainment</a></h4>
									<div class="text">Amet minim mollit non deserunt amet sint. Velit officia consequat duis enim velit  minim mollit non deserunt amet sint.</div>
								</div>
							</div>
						</div>
						
						<!-- Internet Block -->
						<div class="internet-block">
							<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
								<div class="content">
									<span class="icon flaticon-search"></span>
									<h4><a href="services-detail.html">Find Everything Your</a></h4>
									<div class="text">Amet minim mollit non deserunt amet sint. Velit officia consequat duis enim velit  minim mollit non deserunt amet sint.</div>
								</div>
							</div>
						</div>
						
						
						
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image titlt" data-tilt data-tilt-max="6">
							<img src="./assets/user/images/background/map-1.png" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Internet Section Four -->

    <app-footer></app-footer>


</div>

