<!-- Footer Style Two -->
<footer class="footer-style-three">
    <div class="shadow-layer" style="background-image:url(images/background/shadow-6.png)"></div>
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                
                <!-- Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">
                
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="logo">
                                    <a href="index.html"><img src="images/logo-7.png" alt="" /></a>
                                </div>
                                <div class="text">Aliqua dolor do amet sint. Velit officia Exercitation veniam consequat sunt nostrud amet.</div>
                                <!-- Social Box -->
                                <ul class="social-box">
                                    <li><a href="../../www.facebook.com/index.html" class="fa fa-facebook-f"></a></li>
                                    <li><a href="https://www.google.com/" class="fa fa-google"></a></li>
                                    <li><a href="../../www.twitter.com/index.html" class="fa fa-twitter"></a></li>
                                    <li><a href="../../dribbble.com/index.html" class="fa fa-dribbble"></a></li>
                                    <li><a href="https://www.behance.com/" class="fa fa-behance"></a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h5>Useful Links</h5>
                                <ul class="quick-links-two">
                                    <li><a href="#">Area Coverage</a></li>
                                    <li><a href="#">How We Deliver</a></li>
                                    <li><a href="#">Customer Support</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Plans & Pricing</a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!-- Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">
                    
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h5>Get In Touch</h5>
                                <ul class="contact-list">
                                    <li>
                                        <span class="icon flaticon-house"></span>
                                        503 Old Buffalo Street Northwest 205, New York-3087
                                    </li>
                                    <li>
                                        <span class="icon flaticon-telephone"></span>
                                        +3453-909-6565<br>
                                        +3453-909-6565
                                    </li>
                                    <li>
                                        <span class="icon flaticon-email"></span>
                                        infoname@gmail.com <br> www.yourname.com
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget newsletter-widget">
                                <h5>Subscribe Now</h5>
                                <div class="text">Amet minim mollit non deserunt ullamco est  dolor do amet sint. Velit officia.</div>
                                <!-- Newsletter Form Two -->
                                <div class="newsletter-form-four">
                                    <form method="post" action="https://html.themexriver.com/nextbit/contact.html">
                                        <div class="form-group">
                                            <input type="email" name="search-field" value="" placeholder="Type Your Mail" required>
                                            <button type="submit" class="theme-btn flaticon-send-1"></button>
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                        
            </div>
        </div>
        
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="inner-container">
                <div class="copyright">&copy; Nexus | Design by <a href="#">ThemeAptech</a>.</div>
            </div>
        </div>
        
    </div>
</footer>
<!-- End Footer Style Nine -->